


<div class="container">
    <h2><a href="index">Mon Hôtel</a></h2>
    <div>
        <h1>{{num_found}} Clients trouvés {{#page}} (page {{page}}/{{num_pages}}) {{/page}}</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 ">

        {{#results}}
        <div class="col mb-3">

                <li>
                    <a href='/client-details/{{idClient}}'>{{prenom}}</a>
                </li>


        </div>
        {{/results}}



    </div>

    {{#next_page}}
    <div>
        <a href="/search?query={{query}}&page={{next_page}}">Page suivante</a>
    </div>

    {{/next_page}}

</div>
